<p class="pText">
    This User Agreement (this "Agreement") is a contract between you ("you" or "User") 
    and KickChat ("KickChat", "we", “our” or "us"). You must read, agree to, 
    and accept all of the terms and conditions contained in this Agreement in order to use our
    app, all affiliated websites owned and operated by us or our 
    Affiliates (collectively, the "Site"), all processes, procedures, guidelines, services, applications 
    and tools that are accessible through the Site and App ("Site Services"). To the extent permitted by applicable law, 
    KickChat may amend this Agreement without prior notice to you at any time by posting a revised version on the Site. 
    Any revisions to this Agreement will take effect when posted on the Site unless otherwise stated. Your continued use 
    of the Site and App or the Site Services after the effective date of a revised version of this Agreement 
    constitutes your acceptance of its terms and agreement to be bound by its terms.
</p>
<p class="pText">
    By downloading or using KickChat you agree to these TOS and our Privacy Policy.
</p>
<p class="pText">
    If you are under the age of 13, you may not download or use KickChat. 
    We do not knowingly collect or maintain information from children under age 13.
</p>
<h3 class="privacy-title ">
    General
</h3>
<p class="pText">
    -  Age Restrictions. No part of the Service is directed to persons under the age of 13. 
    IF YOU ARE UNDER 13 YEARS OF AGE, YOU MUST NOT USE OR ACCESS THE SERVICE AT ANY TIME OR IN ANY MANNER. 
    By using the Service, you represent and warrant you are at least 13 years of age. 
    If you are under 13 years of age, then you are not permitted to use the Service.
</p>
<p class="pText">
        - Membership in the Service is void where prohibited by law. By using the Service, 
        you represent and warrant that you have the right, authority and capacity to enter into this 
        Agreement and to abide by all of the terms and conditions of this Agreement. If you become a Member, 
        you represent and warrant that you have never been convicted of a felony and that you are not required to 
        register as a sex offender with any government entity. If any such representations or warranties turn out 
        to be false or misleading in any way, your membership will be terminated immediately.
</p>
<h3 class="privacy-title ">
    Conduct on KickChat
</h3>
<p class="pText">
    You may not use KickChat to:
</p>
<p class="pText">
    1. upload or transmit images which contain nudity, weapons, violence, or drugs; <br>
    2. upload or transmit any Content (which we define below) that is unlawful, threatening, 
    abusive, obscene, violent, patently offensive, invasive of another's privacy, contains personally 
    identifiable information 
    of another or promotes racism, bigotry, hatred or harm (including self-harm) or is otherwise objectionable;
    <br>
    3. harm, stalk or otherwise harass another;
    <br>
    4. impersonate, or misrepresent your relationship with, any person or entity (this includes pretending 
    to be a minor if you are not); <br>
    5. upload or transmit any unsolicited or unauthorized advertising, promotional materials, spam, chain letters, pyramid schemes 
    or any other form of solicitation, or offer any contest, giveaway, or sweepstakes;
    <br>
    6. upload or transmit software viruses or any other harmful computer code, files or programs, 
    or use any data mining, robots, or similar data gathering or extraction methods;
    <br>
    7. disrupt or impose an unreasonable burden on KickChat (or another person’s use of KickChat) or 
    networks connected to KickChat, or breach or attempt to breach the security of KickChat; or
    <br>
    8. register accounts or post Content automatically, systematically, or programmatically.
</p>
<p class="pText">
        KickChat is for your personal use only and you may not use it for any other purpose. You may not use KickChat in 
        connection with any commercial activity. Companies and other organizations may not become members of KickChat nor 
        use KickChat without our express prior approval. We reserve the right to investigate any suspected unauthorized uses of KickChat 
        and we may take action in our sole discretion, including without limitation seeking legal, civil, criminal, or injunctive relief.
</p>
<h3 class="privacy-title ">
    No Spam Policy
</h3>
<p class="pText">
        You may not engage in any activity involving spam on KickChat. Violations of this policy may result in immediate termination 
        of service and legal action against any spammer. Accordingly, you may not upload, post, 
        email, transmit or otherwise make available junk mail, commercial advertisements, or any other 
        form of commercial solicitation on KickChat. Violations of this policy could subject you or your agents to civil and criminal penalties.
</p>
<h3 class="privacy-title ">
    Safety and Security
</h3>
<p class="pText">
    WE DO NOT CURRENTLY CONDUCT CRIMINAL BACKGROUND SCREENINGS ON OUR MEMBERS. We reserve the right, however, 
    to conduct any criminal background check we deem appropriate, at any time and using available public records. 
    BY AGREEING TO THESE TOS, YOU HEREBY AUTHORIZE ANY SUCH CHECK.
    <br><br>
    We care about your safety and have found a resource to help you use KickChat. 
    <br>Please visit <a href="www.socialsafety.org ">www.socialsafety.org</a>&nbsp;
    for important tips to help you stay safe online. IF YOU ARE UNDER THE AGE OF 13, 
    WE ENCOURAGE YOU TO DISCUSS WITH YOUR PARENT(S) OR GUARDIAN(S) ONLINE SAFETY ISSUES FOR ALL OF YOUR 
    SOCIAL MEDIA MEMBERSHIPS, INCLUDING YOUR KICKCHAT ACCOUNT.
</p>
<h3 class="privacy-title ">
    Published Content
</h3>
<p class="pText">
    By Content we mean all data, text, software, music, sound, photographs, graphics, artwork, video, pictures, images, 
    posts, messages or other materials of any kind, whether publicly posted or privately transmitted. Your Content is your 
    sole responsibility. You represent and warrant that you own or have the necessary licenses, rights, consents and permissions 
    to publish all of your Content. Except as set forth in our Privacy Policy, we are not responsible for any Content that you 
    upload or transmit on KickChat. We do not control the posted Content and, as such, we do not control its accuracy, integrity, 
    quality or any other aspect. Under no circumstances are we liable in any way for any Content, including but not limited 
    to any errors or omissions in any Content, or for any loss or damage of any kind incurred as a result of the use of any Content.
    We do not claim ownership of your Content.
    <br><br>
    You acknowledge and agree that we do not promise to screen Content, but that we have the right to do so. We have the 
    right to remove any Content that violates the TOS or that we find objectionable. You accept liability associated 
    with the use of any Content, including but not limited to your reliance on the accuracy, completeness, or usefulness of such Content.
</p>
<h3 class="privacy-title ">
    Account Security
</h3>
<p class="pText">
    You are responsible for maintaining the confidentiality of the email, username and password that you designate 
    during the registration process, and you are fully responsible for all activities that occur under your 
    email, username and password. You agree to (a) immediately notify Us of any unauthorized use of your username or email or 
    password or any other breach of security, and (b) ensure that you exit from your account at the end of each 
    session. Service will not be liable for any loss or damage arising from your failure to comply with this provision. 
    You should use particular caution when accessing your account from a public internet access so that others are not 
    able to view or record your password or other personal information. Additionally, by using the Service, you acknowledge 
    and agree that Internet transmissions are never completely private or secure. We will not be liable for any loss or damage arising from unauthorized use 
    of your credentials. 
    You may not authorize others to use your account and you may not assign or otherwise transfer your account to any other person or entity.
</p>
<h3 class="privacy-title ">
    Membership
</h3>
<p class="pText">
    1. You may become a Member of the Service at no cost. As a Member, you will have the ability to participate 
    in of the features and services 
    available within the Service. If you register with the Service and create a profile, then you are a “Member.”
    <br><br>
    2. To become a Member, you must create an account by providing a valid email address, username, password and other 
    information as prompted by the registration form or as required by applicable law. When registering, you are prohibited 
    from selecting or using as a username that is: 
    (i) a name of another person with the intent to impersonate that person; (ii) a name that is subject to any rights of a 
    person other than you without appropriate authorization; or (iii) a name that is otherwise offensive, vulgar or obscene. 
    You represent and warrant that the information you provide to us upon registration and at all other times will be true, 
    accurate, current, and complete. We reserve the right to reject any username or to terminate your username and give such 
    username to another user of the Service in our sole discretion, and without any liability to you. You also represent and 
    warrant that you will ensure that this information is kept accurate and up-to-date at all times.
    <br><br>
    3. The service available on KickChat are free to use. You are not required to pay for any subscriptions at any time.
</p>
<h3 class="privacy-title ">
    Our Proprietary Rights
</h3>
<p class="pText">
    KickChat and the software used in connection with KickChat contain proprietary and confidential information that is 
    protected by applicable intellectual property and other laws. You may not copy, modify, create a derivative work of, 
    reverse engineer, reverse assemble or otherwise attempt to discover any source code, rent, sell, assign, sublicense, 
    infringe or otherwise transfer or attempt to transfer any rights in the software. You may not modify the software in any 
    manner or form or to use modified versions of the software. You may not access KickChat by any means other than through an 
    interfaces we provide.
</p>
<h3 class="privacy-title ">
    Modifications of Service
</h3>
<p class="pText">
    KickChat reserves the right at any time to modify or discontinue, temporarily or permanently, the Service 
    (or any part thereof) with or without notice. You agree that KickChat shall not be liable to you or to any 
    third party for any modification, suspension or discontinuance of the Service.
</p>
<h3 class="privacy-title ">
    Dealings With Advertisers
</h3>
<p class="pText">
    Your correspondence or dealings with, or participation in promotions of, advertisers found on or through KickChat, 
    including payment and delivery of goods or services, and any other terms, conditions, warranties or representations 
    associated with such dealings, are solely between you and the advertiser. We are not responsible or liable for any 
    loss or damage of any sort caused or alleged to be caused in connection with any such dealings or as the result of the 
    presence of such advertisers on KickChat. We will not be liable to you for any failure by an advertiser to provide any 
    service or product you ordered from it.
</p>
<h3 class="privacy-title ">
    Third Party Links
</h3>
<p class="pText">
    KickChat may provide, or third parties may provide, links to other websites or resources. 
    We have no control over such sites and resources and we are not responsible for their availability. 
    We do not endorse and are not responsible or liable for any Content, advertising, products, or other 
    materials on or available from such sites or resources. You further agree that we will not be responsible 
    or liable, directly or indirectly, for any damage or loss of any sort caused or alleged to be caused by or 
    in connection with use of or reliance on any such Content, goods or services available on or through any such site or resource.
</p>
<h3 class="privacy-title ">
    Disclaimers
</h3>
<p class="pText">
    1. TO THE FULLEST EXTENT PERMITTED BY LAW, YOU EXPRESSLY UNDERSTAND AND AGREE THAT: (i) YOUR USE OF THE SERVICE IS AT 
    YOUR SOLE RISK, AND THE SERVICE IS PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS AND THE RELEASED PARTIES EXPRESSLY 
    DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES AS TO 
    PRODUCTS OR SERVICES OFFERED BY BUSINESSES LISTED ON THE SERVICE, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR 
    A PARTICULAR PURPOSE, AND NON-INFRINGEMENT; (ii) THE RELEASED PARTIES MAKE NO WARRANTY THAT (A) THE SERVICE WILL MEET 
    YOUR REQUIREMENTS, (B) THE SERVICE WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE, (C) THE RESULTS THAT MAY BE 
    OBTAINED FROM THE USE OF THE SERVICE, INCLUDING DATA, WILL BE ACCURATE OR RELIABLE, (D) THE QUALITY OF ANY DATA OR 
    SERVICE AVAILABLE ON THE SERVICE WILL MEET YOUR EXPECTATIONS AND, (E) ANY ERRORS IN THE SERVICE WILL BE CORRECTED; 
    AND (iii) ANY MATERIAL OBTAINED THROUGH THE USE OF THE SERVICE IS ACCESSED AT YOUR OWN DISCRETION AND RISK, AND YOU 
    WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR MOBILE DEVICE OR LOSS OF DATA THAT RESULTS FROM 
    THE USE OF ANY SUCH MATERIAL.
    <br><br>
    2. In addition to the preceding paragraph and other provisions of this Agreement, any advice that may be posted on 
    the Service is for informational and entertainment purposes only and is not intended to replace or substitute for 
    any professional financial, medical, legal, or other advice. KickChat makes no representations or warranties and, 
    to the fullest extent permitted by law, expressly disclaims any and all liability concerning any treatment, 
    action by, or effect on any person following the information offered or provided within or through the Service. 
    If you have specific concerns or a situation arises in which you require professional or medical advice, you should 
    consult with an appropriately trained and qualified specialist.
</p>
<h3 class="privacy-title ">
    Limitation on Liability
</h3>
<p class="pText">
    YOU EXPRESSLY UNDERSTAND AND AGREE THAT, TO THE FULLEST EXTENT PERMITTED BY LAW, THE RELEASED PARTIES WILL 
    NOT BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES, 
    INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES 
    (EVEN IF KICKCHAT HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM: (A) THE USE OR THE 
    INABILITY TO USE THE SERVICE; (B) THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES RESULTING FROM 
    ANY DATA, INFORMATION OR SERVICES OBTAINED OR MESSAGES RECEIVED OR TRANSACTIONS ENTERED INTO THROUGH, FROM, 
    OR AS A RESULT OF THE SERVICE; (C) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; (D) 
    STATEMENTS OR CONDUCT OF ANY USER OR THIRD PARTY ON THE SERVICE; (E) YOUR RELIANCE ON CONTENT OR DATA MADE 
    AVAILABLE BY US; OR (F) ANY OTHER MATTER RELATING TO THE SERVICE. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION 
    OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES. 
    ACCORDINGLY, SOME OF THE ABOVE LIMITATIONS IN THIS PARAGRAPH MAY NOT APPLY TO YOU.
</p>
<h3 class="privacy-title ">
    Indemnity
</h3>
<p class="pText">
    To the fullest extent permitted by law, you agree to indemnify and hold KickChat, its subsidiaries, affiliates, 
    officers, agents, and other partners and employees, harmless from any loss, liability, claim, or demand, 
    including reasonable attorney's fees, made by any third party due to or arising out of your use of the 
    Service in violation of this Agreement and/or arising from a breach of this Agreement and/or any breach 
    of your representations and warranties set forth above. The Company reserves the right to assume the exclusive 
    defense and control of any matter otherwise subject to indemnification by you, in which event you will fully 
    cooperate with the Company in connection therewith.
</p>
<h3 class="privacy-title ">
    Our Contact Information
</h3>
<p class="pText">
    Please Contact Us with any questions regarding this agreement. Nafta 6-21, 10152 Tallinn, Estonia. Email: kick.chat2018@gmail.com
</p>