<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    
<!-- Mirrored from wowthemez.com/templates/enovo/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 25 May 2018 06:56:53 GMT -->
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Uzochukwueddie">
       
        <title>KickChat</title>
        
		<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
		
		<!-- Font Awesome CSS -->
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <!-- Themify Icons CSS -->
        <link rel="stylesheet" href="/css/themify-icons.css">
        <!-- Elegant Font Icons CSS -->
        <link rel="stylesheet" href="/css/elegant-font-icons.css">
        <!-- Elegant Line Icons CSS -->
        <link rel="stylesheet" href="/css/elegant-line-icons.css">
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!-- Slicknav CSS -->
        <link rel="stylesheet" href="/css/slicknav.min.css">
        <!-- animate CSS -->
        <link rel="stylesheet" href="/css/animate.min.css">
		<!-- OWL-Carousel CSS -->
        <link rel="stylesheet" href="/css/owl.carousel.css">
        <!-- Swiper CSS -->
        <link rel="stylesheet" href="/css/swiper.min.css">
		<!-- Main CSS -->
        <link rel="stylesheet" href="/css/main.css">
		<!-- Responsive CSS -->
        <link rel="stylesheet" href="/css/responsive.css">

        <script src="/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body data-spy="scroll" data-target="#navmenu" data-offset="70">
        
        <div id='preloader' >
            <div class='loader' >
                <div class="battery"></div>
            </div>
        </div>
        
        <header id="header" class="header_section">
            <div class="container">
                <nav class="navbar">
                    <a href="#" class="navbar-brand"><img src="/img/kickchat.png" alt="KickChat"></a>
                    <div class="d-flex menu-wrap">
                       <div id="navmenu" class="mainmenu">
                           <ul class="nav">
                                <li ><a data-scroll class="nav-link active" href="#home">Home <span class="sr-only">(current)</span></a></li>
                                <li><a data-scroll class="nav-link" href="#screenshots">Screenshots</a></li>
                                <li><a data-scroll class="nav-link" href="#download">Download</a></li>
                            </ul>
                       </div>
                    </div>
                </nav>
            </div>
		</header>
		
		<section id="home" class="hero_section gradiant padding">
		    <div class="display-table">
		        <div class="table-cell">
		            <div class="container">
		                <div class="hero_content">
                            <h1>Football Chat Messenger</h1>
		                    <p style="font-size: 17px">
                                Join communities of your favorite football teams.
                            </p>
                            <p style="font-size: 16px; line-height: 26px; text-align: justify">
                                <strong>KickChat</strong> is a mobile chat application that brings football fans of various teams 
                                to chat <br>and connect. Fans can send and receive messages, join chat rooms of their favorite teams, <br>
                                browse other users and also connect. To all football fans of the best teams 
                                like Real Madrid, <br> Barcelona, Chelsea, Manchester United,
                                Bayern Munich, Arsenal, Juventus, Athletico Madrid, <br> Manchester City, 
                                PSG and lots more. Join and chat with other fans of your favorite teams.
                            </p>
		                    <div class="download_btn">
		                        <!-- <a href="#"><img src="/img/apple.png" alt=""></a> -->
		                        <a href="https://play.google.com/store/apps/details?id=com.kickchat.uzochukwu" target="_blank">
                                    <img src="/img/android.png" alt="">
                                </a>
		                    </div>
		                </div>
		            </div>
		            <div class="hero_mockup d-none d-md-block"></div>
		        </div>
		    </div>
		</section><!-- Hero Section -->
		
		<section class="promo_section bd-bottom padding">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-4 xs-padding">
		                <div class="promo_content text-center">
		                    <i class="ti-comments" style="color: #4aa1f3"></i>
		                    <p style="font-size: 15px">
                                Join chat rooms of your favorite national teams and clubs.    
                            </p>
		                </div>
		            </div>
		            <div class="col-md-4 xs-padding">
		                <div class="promo_content text-center">
		                    <i class="ti-user" style="color: #4aa1f3"></i>
		                    <p style="font-size: 15px">
                                Add users, get accepted and chat 1 on 1 in a private chat.
                            </p>
		                </div>
		            </div>
		            <div class="col-md-4 xs-padding">
		                <div class="promo_content text-center">
		                    <i class="ti-pencil-alt" style="color: #4aa1f3"></i>
		                    <p style="font-size: 15px">
                                Add, like, comment and view live posts in realtime.
                            </p>
		                </div>
		            </div>
		        </div>
		    </div>
		</section><!-- Promo Section -->
         
        <section id="screenshots" class="screenshot_section bd-bottom padding">
             <div class="container" style="margin-top: -50px">
                <div class="section_heading mb-40 align-center">
                    <h2 style="color: #4aa1f3">
                        <strong>KickChat</strong> is not another dating app
                    </h2>
                </div> 
                <div class="row">
                    <div class="col-lg-12">
                          <div class="screen_wrap">
                            <div class="swiper-container screen_carousel">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="/img/page1.png" alt="Image 1">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/img/page2.png" alt="Image 2">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/img/page3.png" alt="Image 3">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/img/page4.png" alt="Image 4">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/img/page5.png" alt="Image 5">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/img/page6.png" alt="Image 6">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/img/page7.png" alt="Image 7">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/img/page8.png" alt="Image 8">
                                    </div>
                                </div>
                                
                                <div class="screen-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
         </section>
		
		<section id="download" class="download_section gradiant padding">
		    <div class="container">
		        <div class="download_content text-center wow fadeInUp" data-wow-delay="400ms" data-wow-duration="800ms">
		            <h3>Download KickChat Today</h3>
		            <p style="font-size: 16px">
                        Download and join a community of your favorite footbll teams.
                    </p>
		            <div class="download_btn">
                        <!-- <a href="#"><img src="/img/apple.png" alt=""></a> -->
                        <a href="https://play.google.com/store/apps/details?id=com.kickchat.uzochukwu" target="_blank">
                            <img src="/img/android.png" alt="">
                        </a>
                    </div>
		        </div>
		    </div>
		</section><!-- Download Section -->
		
		<footer class="footer_section align-center">
			<div class="container">
                <p>
                    &copy; 2018 All Rights Reserved KickChat | 
                    <a href="/terms-of-service" style="color: white">
                        Terms of Service
                    </a> | 
                    <a href="/privacy-policy" style="color: white">
                        Privacy Policy
                    </a>
                </p>
			</div>
		</footer><!-- /.footer_section -->

		<a data-scroll href="#header" id="scroll-to-top"><i class="arrow_carrot-up"></i></a>
	
		<!-- jQuery Lib -->
		<script src="/js/vendor/jquery-1.12.4.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="/js/vendor/bootstrap.min.js"></script>
		<!-- Tether JS -->
		<script src="/js/vendor/tether.min.js"></script>
		<!-- Slicknav JS -->
		<script src="/js/vendor/jquery.slicknav.min.js"></script>
		<!-- OWL-Carousel JS -->
		<script src="/js/vendor/owl.carousel.min.js"></script>
		<!-- Swiper JS -->
		<script src="/js/vendor/swiper.min.js"></script>
		<!-- Smooth Scroll JS -->
		<script src="/js/vendor/smooth-scroll.min.js"></script>
		<!-- Ajaxchimp JS -->
		<script src="/js/vendor/jquery.ajaxchimp.min.js"></script>
		<!-- Wow JS -->
		<script src="/js/vendor/wow.min.js"></script>
		<!-- Main JS -->
		<script src="/js/main.js"></script>

    </body>
</html>